site_name: BIT App

theme:
  logo: assets/logo.png
  favicon: assets/logo.png
  features:
    # - navigation.tabs
    - navigation.sections
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.select
    - content.code.annotate


  name: material
  icon:
    repo: fontawesome/brands/git-alt
  language: en
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary: black
      accent: green
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      primary: black
      accent: green
markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

repo_url: https://github.com/BIT-Lalpur-App/BIT-App
repo_name: BIT-App
plugins:
  - glightbox
  - search
  - markdownextradata: { }
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: true
      skip_classes:
        - custom-skip-class-name
      auto_caption: false
      caption_position: bottom

nav:
  - BIT App: 'index.md'
  - Api Reference: 'app/index.html'
  - Change Logs: 'https://github.com/BIT-Lalpur-App/BIT-App/releases'
  - Image Gallery: 'gallery.md'

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://www.github.com/aiyu-ayaan
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/bit.app_
  version:
    stable: v5.0.2
    pre_release: 6.0.0.2-beta